@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  color: rgba(255,255,255,0.6);
}

body {
  background-color: #778899;
}

h1 {
  font-family: 'Alata', sans-serif;
  letter-spacing: 5px;
  font-size: 4em;
}

h2 {
  font-size: 1em;
}

.container-fluid {
  margin: 1em 0;
}

.links {
  background-color: #DCDCDC;
}

.gallery-wrap {
  width: 100%;
  height: 60vh
}

.item {
  filter: grayscale(80%);
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
}

.item:hover {
  flex-basis: 200px;
  filter: none;
}

.item:nth-child(1) {
  background-image: url('img/leaf.jpg');
}

.item:nth-child(2) {
  background-image: url('img/graphs.jpg');
}

.item:nth-child(3) {
  background-image: url('img/flag.jpg');
}

.footer {
  padding-top: 1em;
}

.footer .fab {
  text-decoration: none;
  font-size: 1.25em;
  margin: 0 1em;
  color: rgba(255,255,255,0.6);
  transition: color ease 0.8s
}

.footer .fab:hover {
  color: #FCD303;
}

@media (max-width:767.98px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.8em;
  }
}
